body{
font-family: 'Poppins', sans-serif;
max-width: 1280px;
margin: 0 auto;
background-image: url("https://th.bing.com/th/id/R.cbe09a403e218eff2037e8a92ac8c45b?rik=woE6es%2bgV%2bw9Tg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f7%2fc%2f9%2f115233.jpg&ehk=uEyxmInvlQFI7AESGqZMyAgt%2bo9gAMjHT3iw2ZTRfJA%3d&risl=&pid=ImgRaw&r=0");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
color: #080101;
}
.modo-escuro{
    
    background-image: url("https://wallpaperaccess.com/full/487115.jpg");
    color: #0b0131;
}

header{ 
   background-position: center center;
   background-size: cover;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 25px;
}

header .logo, 
header .imagem-botao
{
    background: none;
    width: 100px;
    transition: 0.2s 
    ease-in-out;

}
header .logo-tipo{
    max-width: 200px;
    
    transition: 0.2s 
    ease-in-out;

}
header #logo-x{
    background: none;
    border: none;
}

header #botao-alterar-tema{
    background: none;
    border: none;
    }

header .logo:hover, 
header .imagem-botao:hover,
main .cartao-pokemon:hover,
header .logo-tipo:hover{
    transform:scale(1.05);
    cursor: pointer;

}
main{
    padding: 25px;
}


main .listagem-pokemon{

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon{
    background-color: #a1a9ac;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: auto;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}



main .cartao-pokemon:hover
{
    background-color:
    #072831;
    color: rgb(248, 241, 241);
    
}
.modo-escuro .cartao-pokemon {
    background-color: #0e0242;
    color: aliceblue;
}
main .cartao-pokemon .informacoes{
display: flex;
justify-content: space-between;
border: 1px solid #333333;
border-radius: 10px

}


main .cartao-pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif{  
    justify-content: center;
    width: 90;
    height: 90px;
}

main .cartao-pokemon .tipos{

display: flex;
gap: 30px;
}

main .cartao-pokemon .tipo{
    padding: 8px;
    border-radius: 10px;
}

.grama {background-color: #7ac74c;}
.veneno {background-color: #df67ddfb;}
.fogo { background-color: #ee8130;}
.agua {background-color: #6390f0;}
.inseto {background-color: #a6b91a;}

main .descricao{ max-height: 50px;
overflow-y:  scroll;
font-size: 15px;
padding-right: 5px
}
